.input_box{
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
}

.input{
    background-color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 15px;
    width: 100%;
    font-size: 20px;

}

.input_button{
    position: absolute;
    right: -1px;
    background-color: #424242;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    transition: all .3s ;
}

.input_button:hover{
    transform: scale(1.05);
}

.input_button:active{
    transform: scale(1.02);
    filter: brightness(105%);
}

.container{
    display: flex;
    margin-top: 10px;
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;

}

.todos{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 239, 211, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.remove{
    background-color: rgba(241, 191, 207, 0.71);
}

.todos_header{
    font-size: 30px;
    color: #ffffff;
}

.single_todo{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: .2s;
}

.single_todo:hover{
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    transform: scale(1.02);
}

.single_todo_text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    font-size: 18px;
    height: 35px;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    margin-left: 10px;
}

.icon:hover{
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
    transform: scale(1.01);
}

.delete{
    background-color: #fff2f6;
}

.edit{
    background-color: #ecf0ff;
}

.done{
    background-color: #f4fffd;
}

@media (max-width: 1100px) {
    .todos{
        width: 45%;
    }
}

@media (max-width: 700px) {
    .input_box{
        width: 95%;
    }
    .todos{
        width: 95%;
        margin-bottom: 10px;
    }
    .container{
        width: 95%;
        flex-direction: column;
    }
}

.active{
    background-color: rgba(211, 239, 211, 0.95);
}

.active_remove{
    background-color: rgba(241, 191, 207, 0.85);
}
