.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(24deg, rgba(146, 143, 162, 1) 0%, rgba(88, 80, 125, 1) 51%, rgba(27, 15, 82, 1) 100%);
}

.heading {
    margin: 70px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    color: #e3e3e3;
}

@media (max-width: 800px) {
    .heading{
        margin: 35px 0;
    }
}